<%- include('partials/header') %>
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <!-- Makes POST request to /register route -->
          <form action="/register" method="GET" aria-required="true">
            <h1 style="color: crimson">
              Oops!
              <img
                alt="img"
                height="32px"
                src="https://img.icons8.com/ios-glyphs/30/000000/sad-cloud.png"
              />
            </h1>
            <h2>Please register to enter.</h2>
            <button type="submit" class="btn btn-dark">Register</button>
            <a class="btn btn-light btn-lg" href="/">Go Back</a>
          </form>
        </div>
      </div>
    </div>

    <!-- <div class="col-sm-4">
      <div class="card social-block">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>
        </div>
      </div>
    </div> -->
  </div>
</div>

<%- include('partials/footer') %>
